:root{
    --font-family:  Verdana, Cochin, Georgia, Times, 'Times New Roman', serif;  
    --font-size-text:  15px; 
}
@media only screen and (max-width: 600px) {
    :root{
        --font-size-text:  14px;   
    }
}
@media only screen and (min-width: 1000px) {
    :root{
        --font-size-text:  16px;   
    }
}